[submodule "USSR"]
	path = repos/ussr
	url = https://github.com/RealistikOsu/USSR
[submodule "RealistikPanel"]
	path = repos/panel
	url = https://github.com/RealistikOsu/RealistikPanel
[submodule "RealistikAPI"]
	path = repos/api
	url = https://github.com/RealistikOsu/RealistikAPI
[submodule "frontend"]
	path = repos/frontend
	url = https://github.com/RealistikOsu/frontend
[submodule "pep.py"]
	path = repos/peppy
	url = https://github.com/RealistikOsu/pep.py
[submodule "BeatmapsService"]
	path = repos/beatmaps_service
	url = https://github.com/RealistikOsu/BeatmapsService
[submodule "performance-service"]
	path = repos/performance_service
	url = https://github.com/RealistikOsu/performance-service
[submodule "rosu-donor-bot"]
	path = repos/donor_bot
	url = https://github.com/RealistikOsu/rosu-donor-bot
[submodule "repos/statistics_service"]
	path = repos/statistics_service
	url = https://github.com/RealistikOsu/RealistikStatistik
[submodule "repos/usa"]
	path = repos/usa
	url = https://github.com/RealistikOsu/USA
