server {
    listen 80;
    server_name performance.${PS_SERVER_DOMAIN};

    location / {
        proxy_set_header Host $host;
        proxy_pass ${PERFORMANCE_SERVICE_INTERNAL_URL}:${PERFORMANCE_SERVICE_PORT};
    }
}
